@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* For browsers that support clamp  */
    @supports (font-size: clamp(1rem, 1vi, 1rem)) {
        :root {
            --font-size-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
            --font-size-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
            --font-size-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
            --font-size-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
            --font-size-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
            --font-size-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
            --font-size-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
            --font-size-xxxxl: clamp(3.81rem, 5.18vi + 2.52rem, 6.66rem);
        }
    }
    /* For browsers that don't support clamp */
    @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
        :root {
            --font-size-sm: 0.8rem;
            --font-size-base: 1rem;
            --font-size-md: 1.25rem;
            --font-size-lg: 1.56rem;
            --font-size-xl: 1.95rem;
            --font-size-xxl: 2.44rem;
            --font-size-xxxl: 3.05rem;
            --font-size-xxxxl: 3.81rem;
        }
        @media screen and (min-width: 1280px) {
            :root {
                --font-size-sm: 0.89rem;
                --font-size-base: 1.19rem;
                --font-size-md: 1.58rem;
                --font-size-lg: 2.11rem;
                --font-size-xl: 2.81rem;
                --font-size-xxl: 3.75rem;
                --font-size-xxxl: 5rem;
                --font-size-xxxxl: 6.66rem;
            }
        }
    }

    :root {
        --headerHeight: 5rem;
        --warning: rgb(220, 38, 38);
        --light: rgb(248, 250, 252);
        --dark: rgb(0, 0, 0);
    }

    .dark {
        --light: rgb(248, 250, 252);
        --dark: rgb(0, 0, 0);
    }
}

@layer base {
    body {
        @apply text-base;
    }
    body::-webkit-scrollbar {
        @apply bg-transparent w-2;
    }
    body::-webkit-scrollbar-thumb {
        @apply bg-slate-950 dark:bg-slate-50;
    }
    nav {
        @apply min-h-[var(--headerHeight)] flex justify-end items-center py-4 px-4 md:px-6 lg:px-8 xl:px-10;
    }
    main {
        @apply px-4 md:px-6 lg:px-8 xl:px-10 2xl:max-w-[75%] 2xl:mx-auto;
    }
    footer {
        @apply 2xl:max-w-[75%] 2xl:mx-auto;
    }

    form {
        @apply w-full flex flex-col justify-start items-end;
    }

    form fieldset {
        @apply w-full;
    }

    form label {
        @apply sr-only;
    }

    form input {
        @apply !border-l-0 !border-r-0 !border-t-0 !border-b-[1px] !border-[var(--dark)] dark:!border-[var(--light)] !shadow-none !outline-none !rounded-none !p-0 focus-visible:!ring-0;
    }

    form button {
        @apply mt-5;
    }

    [role="alert"] {
        @apply text-red-600 text-sm;
    }
}

@layer components {
    .hide-password-toggle::-ms-reveal,
    .hide-password-toggle::-ms-clear {
        visibility: hidden;
        pointer-events: none;
        display: none;
    }
}

/* [role="menu"],
[role="dialog"] {
    @apply bg-[var(--foreground)] text-[var(--foreground)] dark:bg-[var(--foreground)] dark:text-[var(--foreground)];
} */
