@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* For browsers that support clamp  */
    @supports (font-size: clamp(1rem, 1vi, 1rem)) {
        :root {
            --font-size-sm: clamp(0.8rem, 0.07vi + 0.78rem, 0.84rem);
            --font-size-base: clamp(1rem, 0.19vi + 0.95rem, 1.13rem);
            --font-size-md: clamp(1.25rem, 0.38vi + 1.15rem, 1.5rem);
            --font-size-lg: clamp(1.56rem, 0.67vi + 1.39rem, 2rem);
            --font-size-xl: clamp(1.95rem, 1.09vi + 1.68rem, 2.66rem);
            --font-size-xxl: clamp(2.44rem, 1.71vi + 2.01rem, 3.55rem);
            --font-size-xxxl: clamp(3.05rem, 2.59vi + 2.4rem, 4.73rem);
        }
    }
    /* For browsers that don't support clamp */
    @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
        :root {
            --font-size-sm: 0.8rem;
            --font-size-base: 1rem;
            --font-size-md: 1.25rem;
            --font-size-lg: 1.56rem;
            --font-size-xl: 1.95rem;
            --font-size-xxl: 2.44rem;
            --font-size-xxxl: 3.05rem;
        }
        @media screen and (min-width: 1440px) {
            :root {
                --font-size-sm: 0.84rem;
                --font-size-base: 1.13rem;
                --font-size-md: 1.5rem;
                --font-size-lg: 2rem;
                --font-size-xl: 2.66rem;
                --font-size-xxl: 3.55rem;
                --font-size-xxxl: 4.73rem;
            }
        }
    }

    :root {
        --headerHeight: 5rem;
        --warning: rgb(220, 38, 38);
        --background: rgb(248, 250, 252);
        --foreground: rgb(0, 0, 0);
    }

    .dark {
        --foreground: rgb(248, 250, 252);
        --background: rgb(0, 0, 0);
    }
}

@layer base {
    body {
        @apply text-base;
    }
    nav {
        @apply min-h-[var(--headerHeight)];
    }
    main {
        @apply min-h-[calc(100vh-var(--headerHeight))];
    }
}

@layer components {
    #menuList {
        @apply flex flex-col gap-y-2 w-full;
    }

    #menuList li a {
        @apply flex justify-start items-center gap-x-2 py-2 rounded-md pl-3;
    }

    a#logo {
        @apply hover:bg-none dark:hover:bg-none;
    }

    #menuList a,
    #footer a {
        @apply hover:bg-slate-200 dark:hover:bg-slate-50/15;
    }

    #menuList a.active,
    #footer a.active {
        @apply transition-colors bg-[var(--foreground)] text-[var(--background)] dark:bg-[var(--foreground)] dark:text-[var(--background)];
    }

    .dropdownItem,
    .dropdownItem a {
        @apply w-full flex justify-between items-center rounded-md;
    }
}
